nav.tabs {
    text-transform: uppercase;
}

section.tab {

}

.header-line {
    label {
        //background-color: var(--color-tabs-border);
        //color: black;
    }
}

.armor {
    > label{
        text-align: center;
    }
    > div {
        background-color: var(--color-tabs-border);
        color: black;
    }

}