nav.tabs {
    text-transform: uppercase;
}

.cyberhack-stats-block {
    min-width: 150px;
    max-width: 150px;
    li {
        list-style-type: none;
    }
    .form-fields input[type="number"] {
        min-width: 50px;
        max-width: 50px;
    }
}

.panel-right {
    margin-left: 24px;
    .armor-block, .secondary-block {
        max-width: 350px;
        .armor {
            flex-direction: column;
            margin: 0 3px;
        }
    }
}


.center {
    text-align: center;
}

a.label.roll-attribute {
    padding: 7px 0;
}

