.talents-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.talent-item {
    padding: 6px 8px;
    border-bottom: 1px solid #444;
    align-items: center;
}

.talent-item:hover {
    background: rgba(255, 100, 0, 0.1);
    box-shadow: 0 0 8px #ff6400;
}

.item-image {
    width: 44px;
    height: 44px;
    border: none;
    margin-right: 8px;
}

.item-controls a {
    opacity: 0.7;
}
.item-controls a:hover {
    opacity: 1;
    color: #ff0000;
}

.item-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}