<header class="sheet-header flexcol">
	<div class="flexrow">
		<h3>{{item.type}} : {{ item.name }} - {{ item.system.level }}</h3>
		<input type="checkbox" class="view-editor" data-action="toggleEditMode" {{checked isEditMode}}>
	</div>
</header>